@charset "UTF-8";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-size: 20px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  background-color: #000000;
}

.low-text {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  opacity: 50%;
}

.container {
  position: relative;
  width: 1121px;
  height: 1940px;
  margin: 0 auto;
}

.cap__wrapper {
  background-color: white;
}

.cap {
  width: 1120px;
  margin: 0 auto;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cap__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cap__left-info1 {
  margin: 0px 55px 0px 0px;
  position: relative;
}

.cap__left-info1::before {
  content: url(../../img/icon/phone.png);
  position: absolute;
  left: -34px;
}

.cap__left-info2 {
  margin: 0px 56px 0px 0px;
  position: relative;
}

.cap__left-info2::before {
  content: url(../../img/icon/24hour_blue.png);
  position: absolute;
  left: -32px;
}

.cap__left-icon {
  margin: 22px 78px 0px 4px;
}

.cap__left-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0px 0px 0px;
}

.cap__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 0px;
}

.cap__right-profile {
  margin: 22px 32px 0px 0px;
  position: relative;
}

.cap__right-profile::before {
  content: url(../../img/icon/User.png);
  position: absolute;
  left: -34px;
}

.cap__right-bucket {
  background-color: #E3128F;
  width: 160px;
  height: 40px;
  border-radius: 8px;
  padding: 12px 0px 0px 40px;
  margin-top: 14px;
  font-size: 16px;
  color: white;
  display: inline-block;
}

.cap__right-bucket-text {
  position: relative;
  display: inline-block;
}

.cap__right-bucket-text2 {
  display: inline-block;
  margin-left: 23px;
}

.cap__right-bucket-text::before {
  content: url(../../img/icon/bucket.png);
  position: absolute;
  left: -31px;
  top: -5px;
}

.cap__right-bucket-text::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 24px;
  right: -12px;
  top: -4px;
  background-color: white;
}

.top {
  margin-top: 32px;
  position: relative;
}

.slider {
  border-radius: 10px;
  overflow: hidden;
}

.scroll__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 32px;
}

.scroll__menu::before {
  content: url(../../img/icon/arrow.png);
  position: absolute;
  display: inline-block;
  rotate: 180deg;
  left: -20px;
  border: 1px solid #f4f4f5;
  border-radius: 50%;
}

.scroll__menu::after {
  content: url(../../img/icon/arrow.png);
  position: absolute;
  display: inline-block;
  right: -20px;
  border: 1px solid #f4f4f5;
  border-radius: 50%;
}

.item__name {
  width: auto;
  height: 51px;
  text-align: center;
  padding: 22px 24px 0px 24px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0px 10px 0px 10px;
  font-size: 14px;
  font-weight: 600;
}

.center__title {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  margin-top: 48px;
}

.menu__carts {
  margin-top: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.cart {
  height: 295px;
  border-radius: 12px;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
}

.cart:first-child::before {
  content: "Акция";
  background-color: #E6141E;
  color: #fff;
  padding: 4px 10px;
  border-radius: 5px;
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 600;
  font-size: 14px;
}

.cart:nth-child(2)::before {
  content: "Новинка";
  background-color: #2AAE67;
  color: #fff;
  padding: 4px 10px;
  border-radius: 5px;
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 600;
  font-size: 14px;
}

.cart__img {
  display: block;
  text-align: center;
  width: 240px;
  height: 180px;
  padding-top: 20px;
}

.cart__name {
  font-family: "Open Sans";
  line-height: 21px;
  font-weight: 400;
  padding: 0px 0px 0px 12px;
  font-size: 16px;
}

.cart__price {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.cart__price-number {
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  top: -30px;
  left: 15px;
}

.cart__price-bucket {
  width: 96px;
  height: 35px;
  background-color: #E3128F;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.delivery__title {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  margin: 48px 0px 24px 0px;
}

.delivery__points {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.point {
  width: 256px;
  height: 82px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFFFFF;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding-left: 86px;
}

.wrapper__point1 {
  position: relative;
}

.wrapper__point2 {
  position: relative;
}

.wrapper__point3 {
  position: relative;
}

.wrapper__point4 {
  position: relative;
}

.point1::before {
  content: url(../../img/icon/delivery.png);
  position: absolute;
  left: 12px;
  top: 12px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #F4F4F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0px 0px 13px;
}

.point2::before {
  content: url(../../img/icon/dollar-sign.png);
  position: absolute;
  left: 20px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #F4F4F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0px 0px 13px;
}

.point3::before {
  content: url(../../img/icon/oclock.png);
  position: absolute;
  left: 20px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #F4F4F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0px 0px 13px;
}

.point4::before {
  content: url(../../img/icon/24hour_black.png);
  position: absolute;
  left: 20px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #F4F4F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0px 0px 13px;
}

.bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.bottom__item {
  margin-top: 24px;
}

.bottom__phone-1 {
  margin-bottom: 8px;
}

.bottom__phone-2 {
  font-size: 16px;
}

.bottom__address-1 {
  margin-bottom: 8px;
}

.bottom__aboutus {
  margin-top: 39px;
}

.bottom__messangers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bottom__messangers-inst {
  margin-top: 8px;
}

.bottom__messangers-googleplay {
  margin-left: 20px;
}

.bottom__messangers-appstore {
  margin-left: 16px;
}

.bottom__text {
  position: absolute;
  bottom: 0px;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0px 0px 6px 5px;
  opacity: 50%;
}